<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <title>Save Employee</title>
</head>

<body>

<div class= "container">
    <h3>Employee Directory</h3>
    <hr>

    <p class = "h4 mb-4">Save Employee</p>
    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}" method = "POST">

        <input type ="text" th:field="*{firstName}"
               class ="form-control mb-4 col-4" placeholder ="First name">

        <input type ="text" th:field="*{lastName}"
               class ="form-control mb-4 col-4" placeholder ="Last name">

        <input type ="text" th:field="*{email}"
               class ="form-control mb-4 col-4" placeholder ="Email">

        <button type ="submit" class = "btn btn-info col-2">Save</button>


    </form>
</div>
</body>
</html>